body{
  background-image: url("media/fondo2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0;
  animation: fadein 1.5s forwards;
}

@keyframes fadein {
    to { opacity: 1; }
}

p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

a.boton {
    display: inline-block;
    background-color: #5dade2;  
    color: white;
    font-size: 0.85em;
    padding: 5px 11px;
    border-radius: 6px;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
}

a.boton:hover {
    transform: scale(1.05);              
    box-shadow: 0 0 6px #85c1e9;
    text-decoration: none;
}

a.boton_volver {
    display: inline-block;
    background-color: #ff5151;  
    color: white;
    font-size: 0.85em;
    padding: 5px 11px;
    border-radius: 6px;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
}

a.boton_volver:hover {
    transform: scale(1.05);              
    box-shadow: 0 0 6px #ff5151;
    text-decoration: none;
}

.cambio {
    content: url("media/edipo.png");
    transition: 0.3s;
}

.cambio:hover {
    content: url("media/edipoHurra.png"); 
}

.margen {
    margin-left: 125px;
    margin-right: 125px;
}